:root{
  --primaryfont: "Fira Sans", sans-serif;

}
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav,
main{
  margin: 0 160px;
  font-family: var(--primaryfont);
}
/* nav area style */
.nav-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0;
  margin-bottom: 20px;
}
.nav-area h2{
  font-size: 32px;
  font-weight: bold;
  color: #0E0E0E;
}
.nav-area button{
  font-size: 18px;
  font-weight: 600;
  background-color: white;
  border: 2px solid #006A50;
  padding: 15px 30px;
  border-radius: 10px;
  color: #006A50;
}
.nav-area button:hover{
  background-color: #006A50;
  color: #fff;
  cursor: pointer;
}
main section{
  margin-bottom: 80px;
}

/* banner style start */
.banner{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #C6E4D6;
  padding: 0 60px;
  border-radius: 20px;
}
.left-section{
  flex-basis: 48%;
  text-align: left;
}
.left-section p{
  font-size: 24px;
  font-weight: 600;
  color: hsla(0, 0%, 5%, 0.500);
  margin-bottom: 16px;
}
.left-section h1{
  font-size: 56px;
  font-weight: bold;
  color: #0E0E0E;
  margin-bottom: 24px;
}
.left-section button{
  background-color: #006A50;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 17px 34px;
  border: none;
  border-radius: 10px;
}
.left-section button:hover{
  background-color: #fff;
  color: #006A50;
  cursor: pointer;
  border: 2px solid #006A50;
}
.image-area{
  margin: 80px 0;
}

/* Pillars area style */
.title-area h2{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}
.pillar-card{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.child-card{
  padding: 24px;
  box-shadow: 0px 0px 5px hsla(0, 0%, 5%, 0.3);
  border-radius: 10px;
}
.child-card img{
  margin-bottom: 24px;
}
.child-card h5{
  font-size: 20px;
  font-weight: bold;
  color: hsla(0, 0%, 5%, 0.8);
  margin-bottom: 5px;
}
.child-card p{
  font-size: 16x;
  color: hsla(0, 0%, 5%, 0.7);
}
/* vision of futuer area style */


.vision-area-top h2{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #0E0E0E;
}
.vision-area-top p{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
  color: hsla(0, 0%, 5%, 0.6);
}


.vision-card-area{
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 32px;
}

.vision-child-one{
  background-color: hsla(218, 89%, 65%, 0.2);
  padding: 32px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px hsla(0, 0%, 5%, 0.3);
}

.vision-card-area img{
  margin-bottom: 25px;
}
.vision-card-area h5{
  font-size: 20px;
  font-weight: bold;
  color: hsla(0, 0%, 5%, 0.8);
  margin-bottom: 18px;
}
.vision-card-area p{
  font-size: 16px;
  font-weight: 400;
  color: hsla(0, 0%, 5%, 0.7);
  margin-bottom: 24px;
}
.vision-child-one button{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 11px 20px;
  background-color: #5490F5;
  border-radius: 10px;
  border: none;
} 

.vision-child-two{
  background-color: #C6E4D6;
  padding: 32px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px hsla(0, 0%, 5%, 0.3);
}
.vision-child-two button{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 11px 20px;
  background-color: #09A15C;
  border-radius: 10px;
  border: none;
}

.vision-child-three{
  background-color: #F7EBCF;
  padding: 32px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px hsla(0, 0%, 5%, 0.3);

}
.vision-child-three button{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 11px 20px;
  background-color: #FFC239;
  border-radius: 10px;
  border: none;
}
.vision-bottom {
  padding: 48px 24px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.vision-bottom p{
  font-size: 16px;
  font-weight: 400;
  color: hsla(0, 0%, 5%, 0.8);
  margin-bottom: 18px;
}
.vision-bottom h5{
  font-size: 20px;
  font-weight: 600;
  color: hsla(0, 0%, 5%, 0.8);
  margin-bottom: 6px;
}

.option-table h2{
  font-size: 40px;
  font-weight: 700;
  color: hsla(0, 0%, 5%);
  margin-bottom: 18px;
}

/* option-table style */
/* .opinion-table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  border-radius: 10px;
  border: 2px solid #ddd;
}

.opinion-table thead {
  background-color: #d2ecdc;
}

.opinion-table th,
.opinion-table td {
  padding: 16px 20px;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
}

.opinion-table th {
  font-weight: bold;
}

.opinion-table td:last-child {
  text-align: center;
}

select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #eaf5ec;
  font-weight: 600;
  color: #000;
  cursor: pointer;
}

select:focus {
  outline: none;
  border-color: #66bb6a;
} */


/* Recent NewS area style */
.news-top-area h3{
  font-size: 40px;
  font-weight: bold;
  color: #0E0E0E;
  margin-bottom: 24px;
}
.news-top-area p{
  font-size: 16px;
  color: hsla(0, 0%, 5%, 0.7);
  margin-bottom: 32px;
}

.news-slide-one{
  display: flex;
  padding: 48px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 24px;
}
.news-slide-img img{
  border-radius: 25px;
  margin-right: 32px;
}
.news-text-area h4{
  font-size: 32px;
  font-weight: bold;
  color: hsla(0, 0%, 5%, 0.8);
  margin-bottom: 12px;
}
.news-text-area p{
  font-size: 16px;
  color: hsla(0, 0%, 5%, 0.7);
  margin-bottom: 12px;
  margin-top: 12px;
}

.news-text-area p span{
  margin-left: 12px;
}
.news-text-area .news-containt{
  margin-bottom: 32px;
}
.news-text-area button{
  background-color: #006A50;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 13px 26px;
  border: none;
  border-radius: 10px;
}
.news-text-area button:hover{
  background-color: #fff;
  color: #006A50;
  cursor: pointer;
  border: 2px solid #006A50;
}
.news-slide-t{
  display: flex;
  padding: 48px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 24px;
  margin-bottom: 24px;
}
/* Donate area style */
.donate-area{
  text-align: center;
}
.donate-area h2{
  font-size: 40px;
  font-weight: bold;
  color: hsla(0, 0%, 5%);
  margin-bottom: 24px;
}

.donate-area p{
  font-size: 16px;
  color: hsla(0, 0%, 5%, 0.7);
  margin-bottom: 24px;
  padding: 0 88px;
}
.donate-taka-area{
  display: flex;
  padding: 0 105px;
  gap: 24px;
  justify-content: center;
}
.taka-area{
  padding: 40px;
  box-shadow: 0px 0px 5px hsla(0, 0%, 5%, 0.3);
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom:32px;
}
.taka-area:hover{
  background: #C6E4D6;
  box-shadow: 0px 0px 5px hsla(0, 0%, 5%, 0.5);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.taka-area h3{
  font-size: 40px;
  font-weight: bold;
  color: hsla(0, 0%, 5%, 0.8);
}
.donate-area input{
  padding: 20px 423px;
  border: none;
  box-shadow: 0px 0px 3px hsla(0, 0%, 5%, 0.2);
  display: block;
  margin: 0 auto;
}
.donate-area input::placeholder{
  font-size: 16px;
  font-weight: 600;
  color: hsla(0, 0%, 5%, 0.3);
}
.donate-area button{
  margin-top: 32px;
  text-align: center;
  background-color: #006A50;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 17px 34px;
  border: none;
  border-radius: 10px;
}
.donate-area button:hover{
  background-color: #fff;
  color: #006A50;
  cursor: pointer;
  border: 2px solid #006A50;
}

/*  Subscribe Newsletter area style*/

.subscribe-newsletter-area{
  background: #C6E4D6;
  border-radius: 15px;
  padding: 80px 265px;
  text-align: center;
}

.text-newsletter h2{
  font-size: 40px;
  font-weight: bold;
  color: hsla(0, 0%, 5%);
  margin-bottom: 16px;

}
.subscribe-newsletter-area p{
  font-size: 16px;
  color: hsla(0, 0%, 5%, 0.7);
  margin-bottom: 24px;
  padding: 0 64px;
}
.btn-area{
  margin: 24px;
}
.btn-area input{
  padding: 19px 40px;
  width: 600px;
  border: none;
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  color: hsla(0, 0%, 5%, 0.3);
}
.btn-area input::placeholder{
  font-size: 16px;
  color: hsla(0, 0%, 5%, 0.3);
}

.btn-area button{
  margin-left: -3px;
  background-color: #006A50;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 17px 34px;
  border: none;
  border-radius: 0 10px 10px 0;
}

/* footer area style */

.footer-area{
  font-family: var(--primaryfont);
  text-align: center;
  background-color: hsla(0, 0%, 87%, 0.52);
  padding: 50px 160px;
}
.footer-area h2{
  font-size: 32px;
  font-weight: bold;
  color: hsla(0, 0%, 5%);
  margin-bottom: 32px;
}
hr .hr-color{
  border-top: 1px solid hsla(0, 0%, 5%, 0.1);
  align-items: center;
}
.image-icon img{
  margin-right: 23px;
}
.image-icon{
  margin-top: 32px;
}