:root{
  --primaryfont: "Fira Sans", sans-serif;

}
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0 160px;
  font-family: var(--primaryfont);
}
/* nav area style */
.nav-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0;
  margin-bottom: 20px;
}
.nav-area h2{
  font-size: 32px;
  font-weight: bold;
  color: #0E0E0E;
}
.nav-area button{
  font-size: 18px;
  font-weight: 500;
  color: #006A50;
  background-color: white;
  border: 2px solid #006A50;
  padding: 15px 30px;
  border-radius: 10px;
}